@import "./reset.scss";
.wrapper {
  min-height: 100vh;
  min-width: 100%;
  background-color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
.container {
  display: flex;
  padding: 2.25rem;
}
.hero-img {
  margin-right: 3.25rem;
  border-radius: 0.5rem;
  overflow: hidden;
  min-height: 100%;
  &__item {
    max-height: 40.375rem;
  }
}
.description-box {
  max-width: 58%;
}
.breadcrumb {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.breadcrumb--active {
  color: #d2d5da;
}
.title {
  max-width: 55%;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.description {
  margin-bottom: 2.5rem;
}
.hightlights-list-title {
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.hightlights-list {
  line-height: 2rem;
  margin-bottom: 2.5rem;
  padding-left: 0.75rem;
  &__item {
    list-style-type: disc;
    list-style-position: inside;
    &::marker {
      font-size: 0.6875rem;
    }
  }
}
.product-details {
  max-width: 57%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  align-items: center;
  padding: 0.75rem 1.5rem;
  margin-bottom: 2.5rem;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
}
.product-options {
  font-size: 1rem;
  font-weight: 600;
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 0.375rem;
  grid-column-gap: 5rem;
  min-width: 100%;
  &__item {
    display: block;
  }
  &__lable {
    color: #394150;
    font-weight: 300;
  }
}
.price {
  font-size: 2rem;
  font-weight: 600;
}
.button-box {
  &__cart-btn {
    background-color: #652cd1;
    color: #f9fafb;
    margin-right: 1.5rem;
  }
  &__wish-btn {
    border: 0.0625rem solid #d2d5da;
  }
}
.btn {
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}
.heart-icon {
  margin-right: 0.375rem;
}

@media (max-width: 1021px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .hero-img {
    margin: auto;
    margin-bottom: 1.75rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .description-box {
    max-width: 100%;
  }
  .breadcrumb {
    margin-bottom: 1.5rem;
  }
  .title {
    max-width: 95%;
  }
  .description {
    margin-bottom: 1.375rem;
  }
  .hightlights-list {
    margin-bottom: 1.125rem;
  }
  .product-details {
    margin-bottom: 1.5rem;
    max-width: 100%;
    justify-items: start;
  }
  .product-options {
    grid-template-columns: repeat(2, 38%);
    grid-column-gap: 1rem;
  }
  .price {
    font-size: 1rem;
  }
  .button-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .btn {
    border-radius: 0.3125rem;
  }
}
@media (min-width: 1022px) and (max-width: 1279px) {
  .description-box {
    max-width: 46%;
  }
  .title {
    max-width: 85%;
  }
  .product-details {
    margin-bottom: 1.5rem;
    max-width: 90%;
    justify-items: end;
  }
}
